:lang(fa) {
    font-size:24px !important;
}

:lang(he) {
    font-size:20px !important;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: bpreplayregular;
    background-color: #e9e9e9 !important;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-inverse { background-color: #007acc!important; }
.navbar-inverse .navbar-nav>li>a  { color: #ffffff !important; }
.navbar-brand { color: #ffffff !important; }

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.main-article {
    font-family: MyFont, Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 150%;
}

span.word {
    cursor:pointer;
}

.Unknown {
    color: orange;
}
.Seen {
    color: darkcyan;
}
.Difficult {
    color: red;
}
        
.Known {
    color: black;
}

#roundcorner {
    border-radius: 25px;
    
    padding: 25px; 
    background-color: white;    
}

.circular {
	width: 48px;
	height: 48px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url(http://link-to-your/image.jpg) no-repeat;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	}

.btn-unknown {
  color: #fff;
  background-color: orange;
  border-color: #d43f3a;
}

.btn-seen {
  color: #fff;
  background-color: darkcyan;
  border-color: #d43f3a;
}

.btn-hard {
  color: #fff;
  background-color: red;
  border-color: #d43f3a;
}

.btn-known {
  color: #fff;
  background-color: black;
  border-color: #d43f3a;
}
