@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>REFMA is a Website helping you read foreign articles. It is a Prototype developed by Michele Gerundo for ZHAW</p>
