@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>REFMA</h1>
    <p class="lead">REFMA is a tool to support you learning a new language.</p>
    @Html.ActionLink("Add new article", "Create", "WebArticles", new { }, new {  @class = "btn btn-primary btn-large" })
   
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Read foreign articles</h2>
        <p>
            Lorem ipsum
        </p>
        <p>@Html.ActionLink("My Articles", "Index", "WebArticles", new { }, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>See all the words you marked as known!</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p>@Html.ActionLink("My Words", "Index", "UserLangElement", new { }, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>See the words of all users in every language they learn!</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p>@Html.ActionLink("All Words", "Index", "LangElement", new { }, new { @class = "btn btn-default" })</p>
    </div>
</div>